aiofiles==25.1.0
aiogram==3.29.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiohttp_socks==0.11.0
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
flatbuffers==25.12.19
frozenlist==1.8.0
geographiclib==2.1
geopy==2.4.1
h3==4.5.0
idna==3.18
magic-filter==1.0.12
multidict==6.7.1
numpy==2.4.6
propcache==0.5.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyswisseph==2.10.3.2
python-dotenv==1.2.2
python-socks==2.8.1
requests==2.34.2
timezonefinder==8.2.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
yarl==1.24.2
